<%- include('../../partials/header.ejs') %>
<%- include('../../partials/adminnavbar') %>

<div class="container">
    <button class="btn btn-info" type="submit" style="margin-top: 5px;"><a href="/viewcategories" style="text-decoration: none; color: black;">Manage Categories</a></button>
      <div class="row">
          <div class="col-md-12">
              <div class="add_bt">
                  <p><i class="bi bi-minus-circle"></i> Update Category</p>
                  <form method="post" action="/updatecatgory/<%- Category._id %>" id="staform">
                      <div>
                      <label>Catergory</label>
                      <input type="text" name="category" placeholder="catergory" value="<%- Category.category %>">
                      </div>
                      <br>
                      <div>
                      <label for="status">Status</label>
                          <select name="status" id="status" form="staform">
                              <option value="#" id="dis" selected="true" disabled="disabled">---SELECT CATEGORY---</option>
                              <option name="Purchase in bulk" value="Purchase in bulk">Purchase In bulk</option>
                              <option name="Single purchase" value="Single purchase">Single Purchase</option>
                          </select>
                      </div>
                      <button type="submit" class="updatebtn">Update</button>
                  </form>
                 
              </div>
          </div>
      </div>
  </div>



<%- include('../../partials/footer') %>